html, body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

h1{
    color: rgb(190, 1, 190);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    color: #fafafa;
}

.canvas-container{
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}